<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration | Tanze.com</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
  </head>
  <body>

  <div class="container">
      <form action="{% url 'accounts:registration' %}" method="POST">
          {% csrf_token %}

          {% for error in form.non_field_errors %}
              <p class="form-error">{{ error }}</p>
          {% endfor %}
          <h1>Register</h1>
          <p>Please fill in this form to create an account.</p><hr>
          {% for field in form %}
              <label for="{{ field.id_for_label }}" class="form-label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
              {% if field.errors %}
                  {{ field }}
                  {% for error in field.errors %}
                      <p class="form-error">{{ error }}</p>
                  {% endfor %}
              {% else %}
                  {{ field }}
              {% endif %}
          {% endfor %}
          <button type="submit" class="registerbtn">Register</button>
      </form>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#   <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>#}
    <script src={% static 'js/jquery.min.js' %}></script>
    <script src={% static 'js/main.js' %}></script>
{#    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>