{% extends 'base.html' %}
{% block title %} About us | Tanze.com {% endblock %}
{% block content %}
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:700|Droid+Serif' rel='stylesheet' type='text/css'>
    <div id="banner">
	<div id="bannertext">
		<h1>Tanze &amp; Store</h1>
		<p>Your Online Store</p>
	</div>
</div>

<div id="content">
	<h2>About us</h2>
    <p>Tanze store is a online platform where you can get your product. We work with every costommers. We ship your product right after your order. Our main goal is to serve our customers effectively. Customers wish is our job. Tanze platform provides to our customers to do some functions like, buying product, selling, adding product, delete product. We Tanze team works hard to make Tanze platform more comfortable tor each our customers. Stay tuned on for more updates and other cool features. Our team works hard to make your wish to come into reality. <br/> With love, Tanze team.</p>
</div>

</body>

</html>
{% endblock %}