<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            {% if page_obj.has_previous %}
                <a class="page-link" href="?category={{ page_obj.previous_page_number }}&list={% if query %}{{ query }}{% endif %}" tabindex="-1">Previous</a>
            {% endif %}
        </li>
        {% for l in page_obj.paginator.page_range %}
            {% if forloop.counter < 5 %}
                <li class="page-item"><a class="page-link" href="?category={{ forloop.counter }}&list={% if query %}{{ query }}{% endif %}">{{forloop.counter}}</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item">
            {% if page_obj.has_next %}
                <a class="page-link" href="?category={{ page_obj.next_page_number }}&list={% if query %}{{ query }}{% endif %}">Next</a>
            {% endif %}
        </li>
    </ul>
</nav>