 <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            {% if page_obj.has_previous %}
                <a class="page-link" href="?product={{ page_obj.previous_page_number }}&q={% if query %}{{ query }}{% endif %}" tabindex="-1">Previous</a>
            {% endif %}
        </li>
        <span class="page-current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}
        </span>
        <li class="page-item">
            {% if page_obj.has_next %}
                <a class="page-link" href="?product={{ page_obj.next_page_number }}&q={% if query %}{{ query }}{% endif %}">Next</a>
            {% endif %}
        </li>
    </ul>
</nav>
