{% load static %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/business-808/34/32-512.png"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'webapp:home'%}">Tanze</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          {% if perms.webapp.add_product %}
            <a class="nav-link" href="{% url 'webapp:product_create' %}">Add product</a>
          {% endif %}
      </li>
{#      <li class="nav-item dropdown">#}
{#        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#          Dropdown#}
{#        </a>#}
{#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#          <a class="dropdown-item" href="#">Action</a>#}
{#          <a class="dropdown-item" href="#">Another action</a>#}
{#          <div class="dropdown-divider"></div>#}
{#          <a class="dropdown-item" href="#">Something else here</a>#}
{#        </div>#}
{#      </li>#}
      <li class="nav-item">
          {% if request.user.is_authenticated %}
              <li><a class="nav-link" href="{% url 'accounts:logout' %}" tabindex="-1" aria-disabled="true">Logout</a></li>
              <li><a class="nav-link" href="{% url 'accounts:user_detail' user.pk %}" tabindex="-1">Hi,{{ user.username }}!</a></li>
              {% block menu %} {% endblock %}
          {% else %}
              <li><a class="nav-link" href="{% url 'accounts:registration' %}" aria-disabled="true">Sign Up</a></li>
              <li><a class="nav-link" href="{% url 'accounts:login' %}" aria-disabled="true">Login</a></li>
          {% endif %}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'webapp:product_search' %}" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="I'm shopping for..." aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  </head>
  <body>

  {% include 'partial/messages.html' %}

  {% block content %} {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/0d32c2a2d9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body><br/>

  <!-- Site footer -->

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Tanze.com <i>Let us deliver your product
            </i> This website is for everyone that wants to take advantage of doing online shops. Your interest is our job. Let us ship your product right to you.</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
                  <ul class="footer-links">
                      <li><a href="{% url 'webapp:product_category' %}?list=cloth_category">Clothes</a></li>
                      <li><a href="{% url 'webapp:product_category' %}?list=Food">Food</a></li>
                      <li><a href="{% url 'webapp:product_category' %}?list=household_category">Household items</a></li>
                      <li><a href="{% url 'webapp:product_category' %}?list=electronic">Computer/Laptop</a></li>
                      <li><a href="{% url 'webapp:product_category' %}?list=other_category">Other</a></li>
                  </ul>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="{% url 'webapp:about_us' %}">About Us</a></li>
              <li><a href="{% url 'webapp:contact_us' %}">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
         <a href="{% url 'webapp:home' %}">Tanze.com</a>.
            </p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
</html>