{% extends 'base.html' %}
{% block title %}Success | Tanze.com{% endblock %}

{% block content %}
    <style>
    .jumbotron.text-center{
        margin: 0px 0px 0px;
    }
    </style>
    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Your form has been successfully submitted.</strong></p><hr>
        <p>
            Having trouble? <a href="{% url 'webapp:contact_us' %}">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="{% url 'webapp:home' %}" role="button">Continue to homepage</a>
        </p>
    </div>
{% endblock %}