{% extends 'base.html'%}
{% load static %}
{% block title %} Contact us | Tanze.com {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
    <div>
        <div class="container">
            <div class="contact-parent">
                <div class="contact-child child1">
                        <p>
                            <i class="fas fa-map-marker-alt"></i> Address <br />
                            <span> Ahunbaeva, 7<br />
                                Bishkek, Kyrgyzstan
                            </span>
                        </p>

                        <p>
                            <i class="fas fa-phone-alt"></i> Let's Talk <br />
                            <span>0787878787</span>
                        </p>
                        <p>
                            <i class=" far fa-envelope"></i> General Support <br />
                            <span>tanze@gmail.com</span>
                        </p>
                </div>

                <div class="contact-child child2">
                    <div class="inside-contact">
                        <h2>Contact Us</h2>
                        <h3>
                            <span id="confirm"></span>
                        </h3>

                        <form method="POST">
                            {% csrf_token %}
                            <p>Name *</p>
                            <input id="txt_name" type="text" Required="required">

                            <p>Email *</p>
                            <p id="txt_email" typeof="text" aria-required="true">{{ form.email }}</p>

                            <p>Phone *</p>
                            <input id="txt_phone" type="text" Required="required">

                            <p>Subject *</p>
                            <input id="txt_subject" type="text" Required="required">

                            <p>Message *</p>
                            <textarea id="txt_message" rows="4" cols="20" Required="required" ></textarea>

                            <input type="submit" id="btn_send" name="Subscribe" value="SEND">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}