{% extends 'base.html' %}

{% block title %} Add product {% endblock %}
{% block content %}
    <div class="container">
        <h1>Add product</h1>
        <form action="{% url 'webapp:product_create'  %}" method="POST" enctype="multipart/form-data">
            {% include 'partial/form.html' %}
            <input type="submit" value="Add product" class="btn btn-primary">
            <a class="btn btn-secondary" href="{% url 'webapp:home' %}">Cancel</a>
        </form>
    </div>
{% endblock %}