{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}Products | Tanze.com {% endblock %}

{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images_static/first_slide.jpeg' %}" class="d-block w-100" alt="shop">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images_static/second_slide.jpeg' %}" class="d-block w-100" alt="shop">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images_static/photo.jpeg' %}" class="d-block w-100" alt="shop">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="card">
    <div class="container">
        <img src="{% static 'images_static/coming-soon5.png' %}" class="card-img-top" alt="coming_soon">
        <div class="card-body">
            <h5 class="card-title">Please stay tuned</h5>
            <p class="card-text">Stay tuned for some cool products of Tanze shop</p>
        </div>
    </div>

    <p style="text-align: center">Take a look what we offer</p>

    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-md"><br/>
                    <div class="card" style="width: 20rem;">
                        {% if product.image %}
                            <img src="{{ product.image|thumbnail_url:'avatar' }}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'webapp:product_detail' product.pk %}" style="text-decoration: none">{{ product.name }}</a></h5>
                                <p class="card-text">Category:  {{ product.get_category_display }}</p>
                            <button class="btn btn-primary">Price: ${{ product.price }}</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    </div>
            {% endblock %}
</div>