{% extends 'base.html' %}
{% block title %} Delete Article {% endblock %}
{% block content %}
    <div class="container">
        <h1>Are you sure you want to delete "{{ product }}"?</h1>
        <form action="{% url 'webapp:product_delete' product.pk %}" method="post">
            {% csrf_token %}
            <p><input class="btn btn-danger" type="submit" value="Confirm"></p>
            <p><a class="btn btn-secondary" href="{% url 'webapp:product_detail' product.pk %}">Cancel</a></p>
        </form>
    </div>
{% endblock %}