{% extends 'base.html' %}
{% block title %} {{ product.name }} {% endblock %}
{% block content %}
    <div class="container">
        <h1>Update product</h1>
        <form action="{% url  'webapp:product_update' product.pk %}" method="POST" enctype="multipart/form-data">
            {% include 'partial/form.html' %}
            <input type="submit" value="Update product" class="btn btn-primary">
            <a class="btn btn-secondary" href="{% url 'webapp:home' %}">Cancel</a>
        </form>
    </div>
{% endblock %}