{% extends 'base.html'%}
{% load static %}
{% block title %} {{ product.name }} {% endblock %}

{% block content %}
    <div class="container"><br/>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="card-img" alt="{{ product.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        {% if product.description %}
                            <p class="card-text"><b>Product description:</b> {{ product.description }}</p>
                        {% else %}
                            <p class="card-text"><b>Product description:</b> No description</p>
                        {% endif %}
                        <p class="card-text"><b>Product category:</b> {{ product.get_category_display }}</p>
                        <p class="card-text"><b>How much left..</b> {{ product.left }}</p>
                        <p class="card-text"><b>Product price:</b> ${{ product.price }}</p>
                        {% if request.user == product.author or request.user.is_superuser %}
                            <a class="btn btn-secondary" href="{% url 'webapp:product_update' product.pk %}">Update product</a>
                        {% endif %}
                        {% if request.user == product.author or request.user.is_superuser %}
                            <a class="btn btn-danger" href="{% url 'webapp:product_delete' product.pk %}">Delete product</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
