{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-md"><br/>
                    <div class="card" style="width: 20rem;">
                        {% if product.image %}
                            <img src="{{ product.image|thumbnail_url:'avatar' }}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'webapp:product_detail' product.pk %}" style="text-decoration: none">{{ product.name }}</a></h5>
                            <p class="card-text">Category:  {{ product.get_category_display }}</p>
                            <button class="btn btn-primary">Price: ${{ product.price }}</button>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="container">
                    <div class="jumbotron">
                        <h1 class="display-4">There is no product in this category ...</h1>
                        <p class="lead">However, you see other products by visiting to main page or create product..</p>
                        <hr class="my-4">
                        <a class="btn btn-primary" href="{% url 'webapp:product_create' %}" role="button">Create product</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% if is_paginated %}
        {% include 'partial/pagination_category.html' %}
    {% endif %}
    </div>
{% endblock %}