{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Search result(s) {% endblock %}
{% block content %}
    <div class="container"><br/>
        <h2>Products/items</h2>
        <div class="row">
            {% for prod in object_list %}<br/>
                <div class="col-md"><br/>
                    <div class="card" style="width: 20rem;">
                        <img src="{{ prod.image|thumbnail_url:'avatar' }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'webapp:product_detail' prod.pk %}" style="text-decoration: none">{{ prod.name }}</a></h5>
                                <p class="card-text">Category:  {{ prod.get_category_display }}</p>
                            <a href="#" class="btn btn-primary">Price: ${{ prod.price }}</a>
                        </div>
                    </div>
                </div>
            {% empty %}<br/>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">There is no product in this query... :/</h1>
                    </div>
                </div>
                <h1>Check out other products, too</h1>
                <div class="row">
                    {% for product in products %}
                        <div class="col md-4"><br/>
                            <div class="card" style="width: 20rem;">
                                {% if product.image %}
                                    <img src="{{ product.image|thumbnail_url:'avatar' }}" class="card-img-top" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'webapp:product_detail' product.pk %}" style="text-decoration: none">{{ product.name }}</a></h5>
                                    <p class="card-text">Category:  {{ product.get_category_display }}</p>
                                    <button class="btn btn-primary">Price: ${{ product.price }}</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="container">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                {% if products.has_previous %}
                                    <a class="page-link" href="?q={% if query %}{{ query }}{% endif %}&page={{ products.previous_page_number }}" tabindex="-1">previous</a>
                                {% endif %}
                            </li>
                            {% for l in products.paginator.page_range %}
                                {% if forloop.counter < 6 %}
                                    <li class="page-item"><a class="page-link" href="?q={% if query %}{{ query }}{% endif %}&page={{ forloop.counter }}">{{forloop.counter}}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class="page-item">
                                {% if products.has_next %}
                                    <a class="page-link" href="?q={% if query %}{{ query }}{% endif %}&page={{ products.next_page_number }}" tabindex="-1">next</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endfor %}
            {% if is_paginated %}
                {% include 'partial/search_result_pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}